/*connected styles START*/

.connected{
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
}

.connected__left {
    width: 50%;
    padding: 22px 17px;
    background: #FFFFFF;
    box-shadow: 0px 13.8611px 55.4444px #F2F5FA;
    border-radius: 20.7917px;

}

.connected__left-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.connected__left-title{
    margin-right: auto;
}

.connected__left-description{
    padding-right: 15px;
    margin-top: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 9.70278px;
    line-height: 180%;

    color: rgba(115, 115, 141, 0.8);


}

.dot{
    margin-left: 3px;
    height: 4px;
    width: 4px;
    background-color: #bbb;
    border-radius: 100%;
}

.connected__left span{
    color: rgba(34, 34, 34, 0.8);
    font-size: 18px;
}

.connected__right-container {
    width: 50%;
    margin-left: 8%;
    color: rgba(115, 115, 141, 1);
}

/*connected styles END*/