/*freetrial styles START*/

.freetrial{
    display: flex;
    flex-direction: row;
    padding: 22px 17px;
    background: #FFFFFF;
    box-shadow: 0px 13.8611px 55.4444px #F2F5FA;
    border-radius: 20.7917px;
    justify-content: center;
    align-items: center;
}

.freetrial__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
}

.freetrial__description{
    font-style: normal;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 150%;

    color: #73738D;


    color: rgba(115, 115, 141, 1);
}

.freetrial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: #FFF;
    width: 157px;
    border-radius: 30px;
    height: 45px;
    background-color: rgba(38, 194, 150, 1);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    text-decoration: none;
}

.freetrial__button:hover {
    background-color: #FFF;
    color: rgba(38, 194, 150, 1);
    transform: scale(1.1);
    border: 1px solid rgba(38, 194, 150, 1);
}

.freetrial__button-text {
    font-style: normal;
    font-weight: 600;
    font-size: 11.0889px;
    line-height: 13px;
    color: #FFFFFF;
}

.freetrial__button:hover .freetrial__button-text {
    color: rgba(38, 194, 150, 1);
}

/*freetrial styles END*/