/* Hero section styles */
.hero {
    width: 100%;
    min-height: 100vh;
    max-width: 2560px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    gap: 25px;

    /*padding: 0 120px 0 120px;*/
}

.hero__container {
    /*padding-left: 20%;*/
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.hero__image {
    /*max-height: 50%;*/
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*max-width: 340px;*/

}

.hero__container .title {
    font-weight: 700;
    font-size: calc(40px + 0.3vw);
    color: rgba(34, 34, 34, 1);
}

.hero__container .description {
    color: #73738D;

    font-style: normal;
    font-weight: 500;
    font-size: 14.5542px;
    line-height: 150%;

    padding: 16px 0;
}
.hero__container .form {
    position: relative;
    display: flex;
    flex-direction: row;
    /*background-color: rgb(255, 255, 255);*/
}

.hero__container .form__input {
    display: flex;

    filter: drop-shadow(0px 2.77222px 27.7222px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 31.1875px rgba(54, 54, 54, 0.04));

    width: 100%;
    height: 50px;
    overflow: hidden;
    border-top-left-radius: 34px;
    border-bottom-left-radius: 34px;
    outline: none;
    padding-left: 20px;
    border: none;
}

.hero__container .form__input::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 150%;
    text-align: left;

    color: rgba(115, 115, 141, 0.6);
}

.hero__container .form-button {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    background-color: #1943EF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 34px;
    width: 39%;
    height: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 11.0889px;
    line-height: 13px;
    transition: background-color 0.3s, color 0.3s;
}

.hero__container .form-button:hover {
    background-color: #fff;
    color: #1943EF;
    border: 1px solid #1943EF;
}
