/* Reminders section styles */
.reminder {
    max-width: 2560px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 60px 60px;
}

.reminders__left {
    
}

.reminders__right {
    justify-content: center;
    align-items: center;
}

.reminder__left-content {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 13.8611px 55.4444px #F2F5FA;
    border-radius: 16.6333px;

}

.reminder__left-content-image {
    width: 33.27px;
    height: 33.27px;
    gap: 0px;
    border-radius: 38.2px;
    opacity: 0px;
}

.reminder__left-content-description {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 150%;
    /* or 17px */

    color: rgba(34, 34, 34, 0.8);
}

.reminder__left-content-description > b {
    font-weight: bold;
}