.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 2560px;

    background-color: #FFFFFF;
}

body {
    display: flex;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
    margin: 0;
    position: relative;
    /*background-color: rgba(248, 248, 248, 1);*/
}

.note-bloke {
    color: rgba(115, 115, 141, 1);
}

.note-bloke__title {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;

    color: #222222;
}

.note-bloke__description {
    /*font-size: 20px;*/
    font-weight: 500;
    font-style: normal;
    font-size: 14.5542px;
    line-height: 150%;
    color: #73738D;


    margin-bottom: 30px;
    padding: 16px 0;
}

.note-bloke__list {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.note-bloke__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 10%;
}

.note-bloke__img {
    height: 9px;
    margin-right: 5px;
}

.white-bloke__img {
    margin-right: 2%;
}

.white-bloke__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16.6333px;
    line-height: 20px;

    color: #222222;
}

.white-bloke__pretitle {
    font-style: normal;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 13px;

    color: rgba(34, 34, 34, 0.8);
}

.white-bloke__description {
    font-style: normal;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 150%;
    color: rgba(34, 34, 34, 0.8);
}

.sync__icon, .relation__icon{
    position: absolute;
    bottom: calc(100% + 20px);
    border-radius: 100%;
    height: 50px;
    width: 48px;
    padding: 10px;
    background-color: rgba(228, 247, 242, 1);
    transition: transform 0.3s;
}

.sync__icon:hover, .relation__icon:hover{
    transform: rotate(360deg);
    transition: 0.3s;
}

/** {*/
/*    outline: 3px solid red*/
/*}*/