/*header styles START*/

.header {
    position: fixed;
    min-width: 100vw;
    max-width: 2560px;
    display: flex;
    top: 0;
    left: 0;
    background-color: rgba(249, 249, 249, 0.95);
    z-index: 50;
}

.header__container {
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 102px;
}

.header__logo {
    font-family: 'Gilroy', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #222222;
    text-decoration: none;
}

.header__nav-login {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 48px;
}

.header__nav-main {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.header__list {
    width: 100%;
    list-style-type: none;
    justify-content: center;
    display: flex;
    gap: 60px;
    margin-left: 35%;
}

.header__link, .header__item{
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #73738D;
    text-decoration: none;
    /*margin-left: 20px;*/
}

.header__link:hover, .header__item:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.header-main__link {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #73738D;
    text-decoration: none;
}

.header__button{
    border: 1px solid #1943EF;
    border-radius: 34px;
    padding: 10px 20px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header__button:hover {
    background-color: #1943EF;
}

.header__button-text {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #1943EF;
}

.header__button:hover .header__button-text {
    color: #ffffff;
}

/*BURGER*/
.burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 24px;
}

.burger__line {
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: 0.3s;
}

/*MOBILE*/
.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 100;
    padding: 20px;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.mobile-nav.active {
    display: block;
    transform: translateY(0);
}

.mobile-nav__list {
    list-style: none;
    padding-left: 80%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*gap: 8px;*/
    align-items: self-end;
    /*margin-bottom: 8px;*/
    justify-content: center;
}

.mobile-nav__item {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 6px;
    color: #73738D;
    text-decoration: none;
    transition: transform 0.2s;
}

.mobile__button {
    border: 1px solid #1943EF;
    border-radius: 34px;
    padding: 10px 20px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

.mobile__button:hover {
    background-color: #1943EF;
    color: #fff;
}

/* Адаптивні стилі */
@media (max-width: 1040px) {
    .header__container {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        padding: 12px 102px;
        /*margin-left: 60%;*/
    }

    .header__nav-main {
        justify-content: flex-start;
        margin-left: 0;
    }

    .header__list {
        margin: 0;
        gap: 12px
    }

    .header__button {
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .header__nav-main, .header__nav-login, .header__button {
        display: none;
    }

    .header__container {
        padding: 24px 102px;
        /*margin-left: 60%;*/
    }

    .burger {
        display: flex;
    }

    .mobile-nav.active {
        transform: translateY(0);
    }
}