/*header styles START*/

.header {
    padding: 25px 102px;
    width: 100vw;
    max-width: 2560px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #F9F9F9; Додаємо фон для хедера */
}

/* Стилі для лого */
.header__logo {
    font-family: 'Gilroy', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #222222;
    text-decoration: none;
}

/* Основна навігація (Login) */
.header__nav-main {
    display: flex;
    align-items: center;
    gap: 28px;
}

.header__nav-list-link {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #73738D;
    text-decoration: none;
    margin-left: 20px;
}

/* Центральна навігація */
.header__nav-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.header__nav-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.header__nav-list-item {
    margin: 0;
}

.header__nav-list-link {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #73738D;
    text-decoration: none;
}

/* Кнопка "Try it for free" */
.header__nav-action-button {
    border: 1px solid #1943EF;
    border-radius: 34px;
    padding: 10px 20px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header__nav-action-button:hover {
    background-color: #1943EF;
}

.header__nav-action-button-text {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #1943EF;
}

.header__nav-action-button:hover .header__nav-action-button-text {
    color: #ffffff;
}
